@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DanielWambura.Models.DawaViewModels.PaginationInfo

<div class="dmw-pager">
    <div class="container">
        <article class="dmw-pager-wrapper row">
            <nav>
                <a class="dmw-pager-item dmw-pager-item--navigable @Model.Previous"
                   id="Previous"
                   asp-controller="Gallery"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage -1)"
                   aria-label="Previous">
                    Previous
                </a>

                <span class="dmw-pager-item">
                    Showing @Model.ItemsPerPage of @Model.TotalItems images - Page @(Model.ActualPage + 1) - @Model.TotalPages
                </span>

                <a class="dmw-pager-item dmw-pager-item--navigable @Model.Next"
                   id="Next"
                   asp-controller="Gallery"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 1)"
                   aria-label="Next">
                    Next
                </a>
            </nav>
        </article>
    </div>
</div>