@model DanielWambura.Models.DawaViewModels.DawaImageIndex
@{
    ViewData["Title"] = "Gallery Page";
}

<!-- Container (Pricing Section) -->
<div class="container-fluid bg-4 text-center">
    <h2 class="margin">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

<!-- https://www.youtube.com/watch?v=rmCfrV653Xo -->
    <p>The ceremony video</p>
    <div class="embed-responsive embed-responsive-16by9">
        @*This video is not mine, uses the link to try out. The owner owns the copyright, so use your own video.*@
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rmCfrV653Xo"></iframe>
    </div>

    <section class="dmw-gallery-filters">
        <div class="container">
            <form asp-action="Index" asp-controller="Gallery" method="post">
                <label class="dmw-gallery-label" data-title="family type">
                    <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="dmw-gallery-filter"></select>
                </label>
                <label class="dmw-gallery-label" data-title="gender">
                    <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="dmw-gallery-filter"></select>
                </label>
                <input class="dmw-gallery-send" type="image" src="images/arrow-right.svg" />
            </form>
        </div>
    </section>

    <div class="container">

        @if (Model.DawaImageItems.Any())
        {
            @Html.Partial("_Pagination", Model.PaginationInfo)

            <div class="dmw-gallery-items row">
                @foreach (var dawaImageItem in Model.DawaImageItems)
                {
                    <div class="dmw-gallery-item col-md-4">
                        @Html.Partial("_FamIm", dawaImageItem)
                    </div>
                }
            </div>

            @Html.Partial("_Pagination", Model.PaginationInfo)
        }
        else
        {
            <div class="dmw-gallery-items row">
                THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
            </div>
        }
    </div>
</div>